*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    flex-wrap: wrap;
}

.cont{
    margin-left: 1250px;
    margin-bottom: -30px;
    padding-top: -60px;
    width: 140px;
    height: 20px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 24px;
    display: flex;
    background-color: rgb(247, 247, 247);
}

.imgs{
    margin-left: 830px;
    margin-top: 70px;
    width: 540px;
    height: 400px;
    
}

.imgs2{
    margin-top: -370px;
}

.imgs3{
   margin-top: 200px;
}

.imgs4{
    margin-left: 300px;
    margin-top: -485px;
}

.imgs5{
    margin-left: 950px;
    margin-top: -400px;
    width: 400px;
}

.imgs6{
    margin-top: 150px;
    margin-left: 10px
}

.imgs7{
    margin-left: 330px;
    margin-top: -325px;
}

.imgs8{
    margin-left: 630px;
    margin-top: -325px;
}

.imgs9{
    margin-left: 930px;
    margin-top: -325px;
}

.tm{
    margin-top: -1482px;
}