* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100vw;
    height: 100svh;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
    background-image: url('./img/imgimg.jpg');
    background-position: center;
    background-size: 1650px;
    background-repeat: no-repeat;
  }

  
  .cont {
    color: rgb(0, 0, 0);
    width: 600px;
    height: 600px;
    border: 2px solid rgb(119, 0, 255);
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    padding: 20px;
  }

  .hidden {
    display: none;
  }

  button {
    padding: 12px 12px;
    font-size: 22px;
    background-color: green;
    border-radius: 12px;
    outline: none;
    cursor: pointer;
    color: white;
  }
  
  button:active {
    scale: 1.05;
  }


  .buttonsCont {
    display: flex;
    gap: 20px;
  }

  .startAgain {
    background-color: blue;
  }

  #resultDisplay{
    font-size: 5rem;
    margin: 30px 0;
  }

  .scoreDisplay{
    font-size: 2rem;
  }

  .greenText, #playerScoreDisplay{
    color: hsl(130, 84%, 54%);
}

.redText, #computerScoreDisplay{
    color: hsl(0, 84%, 60%);
}