body {
  background-image: url('./images/shape.png'); 
  background-color: #1D1E28;
  background-size: cover; 
  background-position: center; 
  font-family: Arial, sans-serif; 
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}

#countdown {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

#header {
  text-align: center;
  margin-bottom: 20px; 
  color: #fff;
}

#header h1 {
  font-size: 32px;
}

#header p {
  font-size: 18px;
}

#countdown > div {
  margin: 10px;
  padding: 20px;
  background-color: #343650;
  color: #fff;
  font-size: 24px;
  width: 100px; 
  height: 100px; 
  text-align: center;
  border-radius: 10px; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}
