
.brand {
    font-weight: bold;
    font-size: 20px; }
  
  .site-header {
    position: relative;
    background-color: #def7ff; }
  
  .site-header__wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem; }
    @media (min-width: 600px) {
      .site-header__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0; } }
  @media (min-width: 600px) {
    .nav__wrapper {
        display: flex; } }
  
  @media (max-width: 599px) {
    .nav__wrapper {
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      z-index: -1;
      background-color: #d9f0f7;
      visibility: hidden;
      opacity: 0;
      transform: translateY(-100%);
      transition: transform 0.3s ease-out, opacity 0.3s ease-out; }
      .nav__wrapper.active {
        visibility: visible;
        opacity: 1;
        transform: translateY(0); } }
  
  .nav__item a {
    display: block;
    padding: 1rem 1rem; }
  
  .nav__toggle {
    display: none; }
    @media (max-width: 599px) {
      .nav__toggle {
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem; } }
:root{
    --FF-sans: 'Poppins' , sans-serif;
    --FW-light: 200;
    --FW-normal: 400;
    --FW-bold: 600;

    --FS-400:0.927rem;
    --FS-500:1.25rem;
    --FS-600:1.65rem;
    --FS-900:2.5rem;

    --COLOR-neutral-900:hsl(234, 12%, 34%);
    --COLOR-neutral-400:hsl(229,6%,66%);
    --COLOR-neutral-100:hsl(0,0%,98%);

    --COLOR-teal:hsl(180,58%,56%);
    --COLOR-red:hsl(0,70%,60%);
    --COLOR-blue:hsl(212,75%,62%);
    --COLOR-yellow:hsl(34,89%,65%);

    

}
*,*::before,*::after{
box-sizing: border-box;
}
html{
    font-family: var(--FF-sans);
    font-weight: var(--FW-normal);
    line-height: 1.7;
    color: var(--COLOR-neutral-400);

}
body{
    margin: 0;
    padding-block-end: 5rem;
}
h1,h2,h3{
    color: var(--COLOR-neutral-900);
    line-height: 1.1;
}

.wrapper{
    padding-inline: 2rem;
    margin-inline:auto;
    max-width: 1100px;
}
.wrapper--narrow{
    max-width: 560px;
    
}

header{
    margin-block:6rem;
    text-align: center;
}
h1{
    font-size: var(--FS-900);
    font-weight: var(--FW-light);
}
h1 span{
    font-weight: var(--FW-bold);
}
header>p{
    font-size: var(--FS-500);
}
.layout-grid{
    --GAP:2rem;
    display: flex;
    gap: var(--GAP);
}

.layout-grid >*{
    flex:1;
}

.col{
   display: grid;
   gap:var(--GAP);
   align-content: center;
}

.card{
    --br:0.325rem;
    padding: 2rem;
    border-top:var(--br) solid grey ;
    border-radius: var(--br);
box-shadow: 0rem 1rem 1.5rem -0.5rem rgba(0, 50, 100, 0.15);

}
.border-teal{
    border-color: var(--COLOR-teal);
}
.border-red{
    border-color: var(--COLOR-red);
    
}
.border-yellow{
    border-color: var(--COLOR-yellow);
    
}
.border-blue{
    border-color: var(--COLOR-blue);

}

.circle {
    width: 200px;
    height: 50px;
    line-height: 50px;
    border-radius: 20%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: hsl(119, 100%, 50%)
  }

